@font-face {
  font-family: Nunito-Black;
  src: url('../font/Nunito-Black.woff');
}

@font-face {
  font-family: Nunito-Bold;
  src: url('../font/Nunito-Bold.woff');
}

@font-face {
  font-family: Nunito-Regular;
  src: url('../font/Nunito-Regular.woff') format('woff');
}

@font-face {
  font-family: Nunito-SemiBold;
  src: url('../font/Nunito-SemiBold.woff');
}


body {
    font-family: 'Nunito-Regular' !important;
    font-style: normal;
    font-weight: normal;
    /* position: absolute;
    height: 100%;
    max-width: 480px !important;
    margin: 0px auto 0px auto !important;
    left: 0;
    right: 0;
    height: 100%; */
}

.nav-text{
  font-family: 'Nunito-Bold' !important;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #161938;}

.btn-fix{
    border:none;
    width: 100%;
    height: 48px;
    padding: 13px 0;
    border-radius: 100px;
    background-color: #00880d;
    font-family: 'Nunito-Bold' !important;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

/* LOGIN PAGE */

.login-header-img{
    width: 152px;
    height: 33px;
    object-fit: contain;
}

.login-header-title{
    flex-grow: 0;
    font-family: 'Nunito-Bold' !important;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #161938;
}

.login-header-desc{
    font-family: 'Nunito-SemiBold' !important;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #161938;
}

.login-form-name{
    font-family: 'Nunito-Bold' !important;
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #161938;
}

.login-form-input{
    font-family: 'Nunito-Regular' !important;
    border: none;
    margin-top: 12px;
    width: 100%;
    height: 50px;
    flex-grow: 0;
    margin: 12px 0 0;
    padding: 14px 12px;
    border-radius: 16px;
    background-color: #f3f5fa;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8d92ab;
    outline: none;
}

.form-check-label{
    font-family: 'Nunito-SemiBold' !important;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #161938;
}

/* ORDER PAGE */

.order-header-title{
  font-family: 'Nunito-Bold' !important;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #161938;
}

.order-header-desc{
  margin-top: 8px;
  font-family: 'Nunito-SemiBold' !important;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #161938;
}

.order-menu-title{
  margin-top: 12px;
  font-family: 'Nunito-Bold' !important;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #161938;
}

.order-menu-card{
  height: 78px;
  margin: 16px 0 8px;
  padding: 12px 16px;
  border-radius: 12px;
  box-shadow: 0 0 16px 0 rgba(22, 25, 56, 0.05);
  background-color: #ffffff;
}

.order-menu-img{
  width: 50px;
  height: 50px;
  border-radius: 12px;
  box-shadow: 0 0 16px 0 rgba(22, 25, 56, 0.05);
}

.order-menu-text{
  font-family: 'Nunito-Bold' !important;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #161938;
}

.order-menu-button{
  border: none;
  font-size: 12px;
  font-family: 'Nunito-Bold' !important;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  height: 28px;
  flex-grow: 0;
  padding: 6px 32px;
  border-radius: 100px;
  background-color: #00880d;
}

.order-menu-input{
  font-family: 'Nunito-Bold' !important;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #00880d;
  width: 88px;
  height: 28px;
  flex-grow: 0;
  /* padding: 6px 40px; */
  border-radius: 100px;
  border: solid 1px #00880d;
  background-color: #ffffff;
  outline: none;
}

/* ORDER FINALIZE */

.order-header-finalize-title{
  font-family: 'Nunito-Bold' !important;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #161938;
}

.order-header-finalize-search{
  width: 100%;
  border:none;
  height: 50px;
  flex-grow: 0;
  padding: 13px 12px;
  border-radius: 16px;
  background-color: #f3f5fa;
  outline: none;
}

.order-header-finalize-filter{
  width: 56px;
  height: 50px;
  flex-grow: 0;
  margin: 0 0 0 16px;
  object-fit: contain;
}

.order-header-finalize-desc{
  margin-top: 8px;
  font-family: 'Nunito-SemiBold' !important;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #161938;
}

.order-header-finalize-btn{
  border: none;
  height: 32px;
  width: 201px;
  flex-grow: 0;
  padding: 5px 0;
  border-radius: 100px;
  background-color: #00880d;
  margin-top: 16px;
  font-family: 'Nunito-SemiBold' !important;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.order-card-finalize{
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 0 16px 0 rgba(22, 25, 56, 0.05);
  background-color: #ffffff;
}

.order-card-finalize-number{
  font-family: 'Nunito-Bold' !important;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #161938;
}

.order-card-finalize-date{
  font-family: 'Nunito-Regular' !important;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #8d92ab;
}

.order-card-finalize-status{
  margin-top: 4px;
  font-family: 'Nunito-Bold' !important;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #00880d;
}

.order-card-finalize-list{
  border-bottom: 0.5px #f3f5fa solid;
  padding: 12px 0;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #161938;
}

.order-card-finalize-total{
  height: 43px;
  padding: 0 16px;
  flex-grow: 0;
  background-color: #f3f5fa;
}

.order-card-finalize-btn{
  width: 248px;
  height: 32px;
  flex-grow: 0;
  border-radius: 100px;
  border: solid 1px #00880d;
  background-color: #00880d;
  font-family: 'Nunito-SemiBold' !important;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.order-card-finalize-delete{
  width: 32px;
  height: 32px;
  margin-left: 16px;
  object-fit: contain;
}

.order-note-finalize-img{
  width: 24px;
  height: 24px;
}

textarea::-webkit-input-placeholder {
    font-family: 'Nunito-Regular' !important;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8d92ab;
}
textarea:-moz-placeholder {
    font-family: 'Nunito-Regular' !important;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8d92ab;
}
textarea::-moz-placeholder {
    font-family: 'Nunito-Regular' !important;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8d92ab;
}

textarea:-ms-input-placeholder {
    font-family: 'Nunito-Regular' !important;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8d92ab;
}

.order-note-finalize-text{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  margin-left: 12px;
  font-family: 'Nunito-Regular' !important;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8d92ab;
}

.modal-content{
  width: 296px !important;
  height: 192px;
  padding: 32px 16px;
  /* left: 24%; */
  border-radius: 16px !important;
  background-color: #ffffff !important;
}

.modal-header-order{
  text-align: center;
  font-family: 'Nunito-Bold' !important;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.modal-body-order{
  margin-top: 12px;
  text-align: center;
  font-family: 'Nunito-Regular' !important;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.modal-footer-order{
  text-align: center;
  margin-top: 16px;
}

.modal-footer-order-cancel{
  border: none;
  width: 124px;
  height: 40px;
  border-radius: 100px;
  background-color: #00880d;
  font-family: 'Nunito-Bold' !important;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.modal-footer-order-delete{
  border: none;
  width: 124px;
  height: 40px;
  border-radius: 100px;
  border: solid 1px #00880d;
  background-color: #ffffff;
  font-family: 'Nunito-Bold' !important;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #00880d;
}

/* USER */

.user-nav{
  height: 58px;
  padding: 16px 0;
  background-color: #ffffff;
}

.user-nav-img{
  width: 24px;
  height: 24px;
  margin: 0 16px 0 0;
  object-fit: contain;
}

.user-nav-title{
  margin-left: 16px;
  font-family: 'Nunito-Bold' !important;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #161938;
}

.user-nav-delete{
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.user-header-title{
  font-family: 'Nunito-Bold' !important;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #161938;
}

.user-header-desc{
  margin-top: 8px;
  font-family: 'Nunito-Bold' !important;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #161938;
}

.user-contain-title{
  margin-top: 26px;
  margin-bottom: 4px;
  font-family: 'Nunito-Bold' !important;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #161938;
}

.user-contain-card{
  margin-top: 12px;
  padding: 12px 16px;
  border-radius: 12px;
  box-shadow: 0 0 16px 0 rgba(22, 25, 56, 0.05);
  background-color: #ffffff;
}

.user-contain-input{
  width: 100%;
  border: none;
  margin-top: 11px;
  height: 50px;
  flex-grow: 0;
  padding: 14px 12px;
  border-radius: 16px;
  background-color: #f3f5fa;
  outline: none;
}

.user-contain-card-title{
  font-family: 'Nunito-Bold' !important;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #161938;
}

.user-contain-card-img{
  width: 24px;
  height: 24px;
  object-fit: contain;
}

/* Product */

.product-nav{
  height: 58px;
  padding: 16px 0;
  background-color: #ffffff;
}

.product-nav-img{
  width: 24px;
  height: 24px;
  margin: 0 16px 0 0;
  object-fit: contain;
}

.product-nav-title{
  margin-left: 16px;
  font-family: 'Nunito-Bold' !important;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #161938;
}

.product-nav-delete{
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.product-header-title{
  font-family: 'Nunito-Bold' !important;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #161938;
}

.product-header-desc{
  margin-top: 8px;
  font-family: 'Nunito-Bold' !important;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #161938;
}

.product-contain-title{
  margin-top: 26px;
  margin-bottom: 4px;
  font-family: 'Nunito-Bold' !important;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #161938;
}

.product-contain-card{
  margin-top: 12px;
  padding: 12px 16px;
  border-radius: 12px;
  box-shadow: 0 0 16px 0 rgba(22, 25, 56, 0.05);
  background-color: #ffffff;
}

.product-contain-input{
  width: 100%;
  border: none;
  margin-top: 11px;
  height: 50px;
  flex-grow: 0;
  padding: 14px 12px;
  border-radius: 16px;
  background-color: #f3f5fa;
  outline: none;
}

.product-contain-select{
  width: 100%;
  border: none;
  margin-top: 11px;
  height: 50px;
  flex-grow: 0;
  padding: 13px 16px;
  border-radius: 16px;
  box-shadow: 0 0 16px 0 rgba(22, 25, 56, 0.05);
  background-color: #ffffff;
  color: #b4c0d3;
  outline: none;
}

.product-contain-btn{
  margin-top: 16px;
  width: 100%;
  font-family: 'Nunito-SemiBold' !important;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #00880d;
  height: 50px;
  flex-grow: 0;
  padding: 14px 0;
  border-radius: 16px;
  border: solid 1px #00880d;
  background-color: #ffffff;
}

.product-contain-img{
  margin-top: 8px;
  width: 104px;
  height: 104px;
  margin: 8px 128px 31px;
  border-radius: 12px;
  box-shadow: 0 0 16px 0 rgba(22, 25, 56, 0.05);
}

.product-contain-card-title{
  font-family: 'Nunito-Bold' !important;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #161938;
}

.product-contain-card-img{
  width: 24px;
  height: 24px;
  object-fit: contain;
}

/* Category */

.category-nav{
  height: 58px;
  padding: 16px 0;
  background-color: #ffffff;
}

.category-nav-img{
  width: 24px;
  height: 24px;
  margin: 0 16px 0 0;
  object-fit: contain;
}

.category-nav-title{
  margin-left: 16px;
  font-family: 'Nunito-Bold' !important;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #161938;
}

.category-nav-delete{
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.category-header-title{
  font-family: 'Nunito-Bold' !important;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #161938;
}

.category-header-desc{
  margin-top: 8px;
  font-family: 'Nunito-Bold' !important;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #161938;
}

.category-contain-title{
  margin-top: 26px;
  margin-bottom: 4px;
  font-family: 'Nunito-Bold' !important;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #161938;
}

.category-contain-card{
  margin-top: 12px;
  padding: 12px 16px;
  border-radius: 12px;
  box-shadow: 0 0 16px 0 rgba(22, 25, 56, 0.05);
  background-color: #ffffff;
}

.category-contain-input{
  width: 100%;
  border: none;
  margin-top: 11px;
  height: 50px;
  flex-grow: 0;
  padding: 14px 12px;
  border-radius: 16px;
  background-color: #f3f5fa;
  outline: none;
}

.category-contain-card-title{
  font-family: 'Nunito-Bold' !important;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #161938;
}

.category-contain-card-img{
  width: 24px;
  height: 24px;
  object-fit: contain;
}